<mat-toolbar *ngIf="showToolbar" class="toolbar">
  <a routerLink="/welcome">
    <!-- <img src="https://i.ibb.co/1GnQ2jM/Screenshot-2024-07-03-at-8-55-10-PM.png" alt="PC Planner" class="app-logo"> -->
    <img src="https://i.ibb.co/0f1Cdj7/Screenshot-2024-08-21-at-2-10-43-PM.png" alt="PC Planner" class="app-logo">
  </a>
  <span class="example-spacer"></span>
  <button  mat-button routerLink="/home" class="nav-button">Home</button>
  <button  mat-button routerLink="/easy-builder" class="nav-button">Easy Builder</button>
  <button  mat-button routerLink="/builder" class="nav-button builder-button">Builder</button>
  <!-- <button  mat-button routerLink="/about" class="nav-button builder-button">About</button> -->

</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>

<div *ngIf="showFooter" class="footer">
  <div class="footer-links">
    <!-- <a href="/about">About</a> -->
    <a href="/home">Home</a>
    <a href="/welcome">Landing Page</a>
    <a href="https://github.com/tr4ce123/pcplanner" target="_blank">Github Repo</a>
  </div>
  <div class="footer-socials">
    <p>My Links:</p>
    <a href="https://traceglasby.com" target="_blank" class="personal-link">My Personal Website</a>
    <a href="https://github.com/tr4ce123" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/gglasby04/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-bottom">
    <p>© 2024 Gregory Glasby. All rights reserved.</p>
  </div>
</div>