/* .app-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 16px;
    color: white;
  } */

.app-logo {
    height: 50px; /* Adjust size as needed */
    margin-left: 16px;
}
  
  
.example-spacer {
    flex: 1 1 auto;
}

.content {
    margin-top: 80px;
}

.toolbar {
    width: 100%;
    background-color: black;
    height: 80px;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 

}

.nav-button {
    color: white !important;
    border: 2px solid transparent; 
    transition: border-color 0.5s;
}

.nav-button:hover {
    border-color: skyblue !important;
  }
  

  @media (max-width: 600px) {
    .builder-button {
        display: none;
    }
}