.banner {
  position: relative;
  width: 100%;
  height: 250px; 
  background-image: url('../../assets/banner.png');
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .banner {
    height: 150px;
    background-size: cover;
  }
}

.welcome-section {
  background-color: rgba(24, 28, 74, 0.345); 
  /* padding: 2rem; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: -2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-section h1 {
  font-size: 2.25rem; 
  font-weight: bold;
  color: #60a5fa;
  margin-bottom: 1rem; 
  text-align: center;
}

.welcome-section p {
  font-size: 1.125rem; 
  color: #d1d5db; 
  margin-bottom: 2rem;
  text-align: center;
  max-width: 32rem; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}

@media (max-width: 768px) {
  .side-by-side {
    flex-direction: column;
  }
}

.side-by-side {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 80%;
  align-items: center;
  margin-top: 2rem;
}


.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  font-size: 2.25rem; 
  font-weight: bold;
  color: #60a5fa;
  margin-bottom: 1rem; 
  text-align: center;
}

.container h2 {
  font-size: 2rem; 
  font-weight: bold;
  color: #60a5fa;
  margin-bottom: 1rem; 
  margin-top: 1rem;
  text-align: center;
}

.container p {
  font-size: 1.125rem; 
  color: #d1d5db; 
  margin-bottom: 2rem;
  text-align: center;
  max-width: 32rem; 
}

.container button {
  background-color: #8b5cf6; 
  color: white;
  transition: background-color 0.5s;
  padding: 1rem 2rem; 
  font-size: 1.25rem; 
}

.container button:hover {
  background-color: #7c3aed;
}

.how-it-works {
  color: white;
  padding-bottom: 3rem;
}

.how-it-works .content {
  max-width: 56rem; 
  margin-left: auto; 
  margin-right: auto; 
  padding-left: 1rem; 
  padding-right: 1rem; 
}

.how-it-works h1 {
  font-size: 2.25rem; 
  font-weight: bold;
  color: #60a5fa; 
  margin-bottom: 2rem; 
  text-align: center;
}

.how-it-works .step {
  display: flex;
  align-items: center;
  margin-bottom: 2rem; 
}

.how-it-works .step-number {
  flex-shrink: 0;
  height: 3rem;
  width: 3rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8b5cf6; 
  border-radius: 9999px; 
}

.how-it-works .step-number span {
  color: white;
  font-weight: bold;
  font-size: 1.125rem; 
}

.how-it-works .step-details {
  margin-left: 1rem;
}

.how-it-works .step-details h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #60a5fa; 
  margin-bottom: 0.5rem; 
}

.how-it-works .step-details p {
  font-size: 1.125rem;
  color: #d1d5db; 
}

.divider {
  width: 80%;
  margin: 3rem auto;
}

.why-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}

.why-container h1 {
  font-size: 2.25rem; 
  font-weight: bold;
  color: #60a5fa;
  margin-bottom: 1rem; 
  text-align: center;
}

.why-container p {
  font-size: 1.125rem; 
  color: #d1d5db; 
  margin-bottom: 2rem;
  text-align: center;
  width: 80%; 
}