.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
  }

  .container h1 {
    font-size: 1.875rem; 
    line-height: 2.25rem;
    font-weight: 700; 
    color: #60a5fa;
    margin-bottom: 2rem; 
    margin-top: 2rem;
  }

  .container h2 {
    font-size: 1.5rem; 
    line-height: 2.25rem;
    font-weight: 700; 
    color: white;
    margin-bottom: 0.5rem; 
  }
  

  .container p {
    font-size: 1.125rem; 
    color: #d1d5db; 
    margin-bottom: 2rem;
    text-align: center;
    max-width: 32rem; 
  }

  .notes-button {
    background-color: #8b5cf6; 
    color: white;
    transition: background-color 0.5s;
    padding: 1rem 2rem; 
    font-size: 1.25rem; 
    margin-bottom: 1rem;
  }
  
  .notes-button:hover {
    background-color: #7c3aed;
  }

  @media (max-width: 768px) {
    .side-by-side {
      flex-direction: column;
    }
  }
  
  .side-by-side {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 80%;
    align-items: center;
    margin-top: 2rem;
  }
  
  
  .centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
  }

  .form-container {
    width: 100%;
    max-width: 95%; 
    margin-bottom: 20px;
    padding: 16px;
    background-color: rgb(25, 23, 23);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    font-size: 1.875rem; 
    line-height: 2.25rem;
    font-weight: 700; 
    color: #60a5fa;
    margin-bottom: 2rem; 
}

.budget-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
}

.submit-button {
    background-color: #8b5cf6; 
    color: white;
    padding: 0.5rem 1.5rem; 
    border-radius: 9999px; 
    transition: background-color 0.5s;
}

.submit-button:hover {
    background-color: #7c3aed; 
}
  
  .custom-pc-section {
    background-color: rgb(25, 23, 23);
    padding: 1rem;
  }
  
  .custom-pc-container {
    max-width: 95%;
    margin: 0 auto;
    background-color: #1e1e24;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 1rem; 
    height: auto;
  }
  
  .custom-pc-content {
    padding: 1rem;
  }
  
  .custom-pc-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #60a5fa;
  }
  
  .custom-pc-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  @media (min-width: 768px) {
    .custom-pc-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .custom-pc-component {
    background-color: #2d2d2d;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  

  .buy-now-button {
    position: relative;
    font-size: 0.75rem; 
    line-height: 1rem;
    color: white !important;  
    border: 2px solid;
    border-color: gray;
    background-color: transparent; 
    transition: border-color 0.5s;
  }

  .buy-now-button:hover {
    border-color: #8b5cf6 !important;
  }
  
  
  .component-image-large {
    width: 100px;
    height: 100px;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
  }
  
  .component-title {
    font-size: 1rem;
    font-weight: 600;
  }
  
  .component-type {
    color: #a1a1a1;
  }
  
  .component-price {
    color: #38bdf8;
  }
  
  .custom-pc-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .total-price {
    font-size: 1.125rem;
    font-weight: 600;
  }


  .divider {
    width: 80%;
    margin: 3rem auto;
  }