<div class="container" @fadeIn>
    <h1>Notes before you start</h1>
    <div class="side-by-side">
        <div class="centered-content">
            <h2>Time of creation</h2>
            <p>This website uses data that was last updated in June of 2024. While the data can be updated, it's important to note that it might not be. Pricing can change drastically over just a few short months!</p>
        </div>
        <div class="centered-content">
            <h2>Compatiblity</h2>
            <p>It is important to note that while PCPlanner checks for compatibility, it is not guaranteed.</p>
        </div>
        <div class="centered-content">
            <h2>Do your own research</h2>
            <p>This website only serves as a guide to get beginners who have no knowledge started on their track to building a PC. </p>
        </div>
    </div>

    <mat-divider class="divider"></mat-divider>
</div>

<div class="container" @fadeIn>
    <h1>Enter your preferences here</h1>
    <mat-card appearance="outlined" class="preference-form-card">
        <mat-stepper class="stepper" [orientation]="stepperOrientation" [linear]="true" #stepper>
            <mat-step [stepControl]="budgetFormGroup">
                <form [formGroup]="budgetFormGroup">
                    <ng-template matStepLabel>How much are you willing to spend?</ng-template>
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Budget</mat-label>
                        <input matInput formControlName="budget" required placeholder="Ex. 1000" />
                        <mat-error *ngIf="budgetFormGroup.get('budget')?.hasError('required')">Budget is required</mat-error>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="usageFormGroup">
                <form [formGroup]="usageFormGroup">
                    <ng-template matStepLabel>What will you be using your PC for?</ng-template>
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Usage</mat-label>
                        <mat-select formControlName="usage">
                            <mat-option value="Gaming">Gaming</mat-option>
                            <mat-option value="Productivity">Productivity</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="chipsetFormGroup">
                <form [formGroup]="chipsetFormGroup">
                    <ng-template matStepLabel>Intel or AMD?</ng-template>
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Chipset</mat-label>
                        <mat-select formControlName="chipset">
                            <mat-option value="Intel">Intel</mat-option>
                            <mat-option value="AMD">AMD</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="wifiFormGroup">
                <form [formGroup]="wifiFormGroup">
                    <ng-template matStepLabel>Do you need a wireless connection?</ng-template>
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Wireless Internet?</mat-label>
                        <mat-select formControlName="need_wifi">
                            <mat-option value="true">Yes</mat-option>
                            <mat-option value="false">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Review and Submit</ng-template>
                <div>
                    <mat-list>
                        <mat-list-item>
                            <span matListItemTitle>Budget</span>
                            <span matListItemLine>${{ budgetFormGroup.value.budget }}</span>
                        </mat-list-item>
                        <mat-list-item>
                            <span matListItemTitle>Usage</span>
                            <span matListItemLine>{{ usageFormGroup.value.usage }}</span>
                        </mat-list-item>
                        <mat-list-item>
                            <span matListItemTitle>Chipset</span>
                            <span matListItemLine>{{ chipsetFormGroup.value.chipset }}</span>
                        </mat-list-item>
                        <mat-list-item>
                            <span matListItemTitle>Wireless Internet</span>
                            <span matListItemLine *ngIf="wifiFormGroup.value.need_wifi">Yes</span>
                            <span matListItemLine *ngIf="!wifiFormGroup.value.need_wifi">No</span>
                        </mat-list-item>
                    </mat-list>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button class="submit-button" (click)="onSubmit()">Create my PC</button>
                </div>
            </mat-step>
        </mat-stepper>

        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    </mat-card>
</div>


<section class="custom-pc-section">
    <div class="custom-pc-container" *ngFor="let computer of computers">
        <div class="custom-pc-content">
        <h2 class="custom-pc-title">{{ computer.name }}</h2>
            <div class="custom-pc-grid" [@listAnimation]="getComponentArray(computer.components).length">
                <div *ngFor="let component of getComponentArray(computer.components);" class="custom-pc-component">
                    <h3 class="component-title">{{ component.type }}</h3>
                    <img *ngIf="component.image_url" [src]="component.image_url" alt="{{ component.name }}" class="component-image-large" />
                    <p class="component-name">{{ component.name }}</p>
                    <p class="component-price">${{ component.price }}</p>
                    <a mat-button class="buy-now-button" [href]="component.pcpp_url" target="_blank">Buy Now</a>
                </div>
            </div>
    
        <div *ngIf="computer.aiResponse" class="ai-insights-container" @fadeIn>
            <h2 class="insights-title">AI Insights</h2>
            <div *ngIf="typedText.length > 0" class="typewriter-text">
                <p>{{ typedText }}</p>
                </div>
        </div>
        <div class="custom-pc-footer">
            <span class="total-price">Total Price: ${{ computer.total_price }}</span>
            <div class="footer-buttons">
                <button mat-stroked-button class="delete-button" (click)="onDelete(computer)">Delete</button>
                <button mat-button class="ai-insights-button" (click)="toggleAIForm(computer)" *ngIf="!computer.showAIForm && computer.aiResponse == null">Build insights using AI</button>
                <button mat-button class="ai-insights-button" (click)="toggleAIForm(computer)" *ngIf="!computer.showAIForm && computer.aiResponse != null">Ask another question</button>
            </div>
        </div>
        <div *ngIf="computer.showAIForm" class="ai-form-container">
            <form [formGroup]="aiForm" (ngSubmit)="submitAIRequest(computer)" class="ai-form">
                <mat-form-field appearance="outline" class="ai-form-field">
                    <mat-label>Ask a Question</mat-label>
                    <input matInput placeholder="Suggested prompts below!" formControlName="userPrompt" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        @for (option of filteredOptions | async; track option) {
                          <mat-option [value]="option">{{option}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
                <div class="custom-pc-footer">
                    <div class="footer-buttons">
                        <button mat-button class="ai-insights-button" type="submit" >Submit</button>
                        <button mat-button class="ai-insights-button" (click)="toggleAIForm(computer)">Hide</button>
                    </div>
                </div>
                
            </form>
            <mat-progress-bar mode="indeterminate" *ngIf="isFormLoading"></mat-progress-bar>
        </div>
        </div>
    </div>
    </section>