.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px; 
    box-sizing: border-box;
  }
  
  .preference-form-card {
    width: 100%;
    max-width: 95%; 
    margin-bottom: 20px;
    padding: 16px;
    background-color: #27272a;
  }

  ::ng-deep .mat-step-header .mat-step-icon {
    color: white;
    background-color: #8b5cf6;
}

/* .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #87ceeb !important; 
}

.mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-thick {
  border-color: #87ceeb !important; 
} */


.submit-button {
  background-color: #8b5cf6; 
  color: white;
  transition: background-color 0.5s;
}

.submit-button:hover {
  background-color: #7c3aed;
}

  .stepper {
    background-color: #27272a;
  }
  
  .form-field {
    padding: 10px;
  }
  
  mat-grid-list {
    width: 100%;
  }
  
  mat-grid-tile {
    display: flex;
    justify-content: center;
    overflow: hidden;
  
  }
  
  
  @media (max-width: 768px) {
    .example-container {
        margin-top: 56px; 
        height: calc(100vh - 56px);
    }
  
    .app-toolbar {
        height: 56px; 
    }
  }
  
  .computer-card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 10px;
    overflow: hidden;
  }
  
  .component {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .component-image {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  .pcpp-link-button {
    margin-left: auto;
  }
  
  @media (max-width: 768px) {
    .preference-form-card {
      width: 100%;
      margin: 0;
    }
  
    .mat-stepper-horizontal {
      flex-direction: column;
    }
  }